hashlib  # Inclus dans la bibliothèque standard Python (pas besoin de l'installer)
json     # Inclus dans la bibliothèque standard Python (pas besoin de l'installer)
re       # Inclus dans la bibliothèque standard Python (pas besoin de l'installer)
sqlite3  # Inclus dans la bibliothèque standard Python (pas besoin de l'installer)
datetime # Inclus dans la bibliothèque standard Python (pas besoin de l'installer)
typing   # Inclus nativement à partir de Python 3.5+

# Modules externes à installer via pip :
pandas
plotly
streamlit
